langchain==0.1.9
langchain-community==0.0.24
pypdf==4.0.2
faiss-cpu==1.7.4
chromadb==0.4.22
cloudpickle==3.0.0
langchain-openai==0.0.8
openai==1.12.0
tiktoken==0.6.0
sentence-transformers==2.2.2
unstructured==0.12.4
python-magic==0.4.27
google-api-python-client==2.120.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
PyPDF2==3.0.1
pydantic[email]==1.10.9
unstructured[pdf]==0.12.4
supabase==2.4.0
fastapi==0.110.0
uvicorn==0.27.1
python-dotenv==1.0.1
airbyte-source-shopify==2.0.0
source_shopify==1.0.0
lark==1.1.9
langchain-groq==0.0.1